<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.eumbank.mapper.AccountMapper">

    <!--  오로지 고객 아이디를 가져오기 위해서..  -->
    <select id="getCustomerByACustomerId" parameterType="string" resultType="com.boot.eumbank.dto.CustomerDTO">
        SELECT
            *
        FROM CUSTOMER_TBL
        WHERE c_name_kr = #{nameFromId}
        AND DATE_FORMAT(c_birth_dt, '%y%m%d') = #{rrn6FromId}
    </select>

</mapper>
